#spring:
#  application:
#    name: bus-search-service

server:
  port: 8090

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bus_booking_bdb
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true